body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    background: #3D405B;
    color: #F4F1DE;
    margin: 1% 10% 0% 1%;
}
h1 {
    text-shadow: 2px 2px #81B29A;
}
h2, h3 {
    padding: .5%;
    text-shadow: 1px 1px #E07A5F;
}
p {
    font-size: 110%;
}
input {
    margin: .5%;
    padding: .35em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 110%;
}
form > input:focus {
    border: 4px solid #E07A5F;
}
.quote {
    font-style: italic;
    font-size: 110%;
}
.jsButton {
    color: #F4F1DE;
    background-color: #81B29A;
    padding: 1%;
    border: 2px solid #F4F1DE;
    border-radius: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 110%;
}
.submit {
    color: #F4F1DE;
    background-color: #E07A5F;
    padding: 1%;
    border: 2px solid #F4F1DE;
    border-radius: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 110%;
}
.error {
    font-size: 150%;
    color: #D85531;
}