{% extends "layout.html" %}

{% block content %}
<h1>Welcome!</h1>
<h4>The Running Attire App accesses the Open Weather Map API and analyzes 
    the weather data for a given location to return the appropriate clothes 
    a runner should wear when running outdoors.</h4>
<p>The Running Attire app is built with the Python language, the Flask framework 
    and its accompanying languages (Jinja2, Werkzeug, etc), HTML, CSS, and JavaScript.</p>
<div class="content">
    <h2>Get Your Suggested Run Attire</h2>
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="city" id="city" value="City"><br>
            <label for="city">City</label><br>
            <input type="text" name="state" id="state" value="State"><br>
            <label for="state">State or Country name, typed in full</label><br>
            <p>Which units do you prefer?</p>
            <input type="radio" id="metric" name="units" value="metric">
            <label for="metric">metric - kilometers, Celcius</label><br>
            <input type="radio" id="imperial" name="units" value="imperial">
            <label for="imperial">imperial - miles, Fahrenheit</label><br>

            <input type="submit" value="Submit"><br>
        </form>
    </div>
</div> 
{% endblock %}

<!-- {% block scripts %}
<script src="/static/scripts.js"></script>
{% endblock %} -->